<div class="container-crud">
  <div class="card-standard">
    <div class="login-header" style="text-align: center; margin-bottom: 40px;">
     
      <h1 class="brand-name">Nova <span class="brand-bold">Categoria</span></h1>
      <p class="login-subtitle">Cadastre um novo tipo de problema e defina o prazo de SLA.</p>
    </div>

    <%= form_with(model: @ticket_type, local: true) do |f| %>
      <% if @ticket_type.errors.any? %>
        <div style="background: #fee2e2; color: #b91c1c; padding: 15px; border-radius: 8px; margin-bottom: 25px; font-size: 0.9rem; border: 1px solid #fecaca;">
          <ul style="margin: 0; padding-left: 20px;">
            <% @ticket_type.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group-login">
        <%= f.label :title, "NOME DA CATEGORIA", class: "form-label-login" %>
        <%= f.text_field :title, class: "form-input-login", placeholder: "Ex: Hidráulica, Elevadores..." %>
      </div>

      <div class="form-group-login">
        <%= f.label :sla_hours, "PRAZO ESTIMADO (EM HORAS)", class: "form-label-login" %>
        <%= f.number_field :sla_hours, class: "form-input-login", placeholder: "Ex: 24" %>
      </div>

      <div class="actions-container" style="margin-top: 40px;">
        <%= f.submit "Criar Categoria", class: "btn-pro-size btn-edit-pro" %>
        <%= link_to "Cancelar", ticket_types_path, class: "btn-pro-size btn-delete-pro" %>
      </div>
    <% end %>
  </div>
</div>