<div class="container-crud">
  <div class="header-section" style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 30px;">
    <div>
      <h1 class="brand-name" style="font-size: 2rem;">Gestão de <span class="brand-bold">Blocos</span></h1>
      <p class="login-subtitle" style="margin-top: 5px;">Visualize e gerencie as torres do condomínio.</p>
    </div>
    <%= link_to "+ Novo Bloco", new_block_path, class: "btn-pro-size btn-edit-pro", style: "width: 180px !important;" %>
  </div>

  <div class="card-table">
  <table class="data-table">
    <thead>
      <tr>
        <th style="width: 40%;">IDENTIFICAÇÃO</th>
        <th style="width: 20%;">ANDARES</th>
        <th style="width: 20%;">APTOS/ANDAR</th>
        <th style="width: 20%; text-align: right; padding-right: 25px;">AÇÕES</th>
      </tr>
    </thead>
    <tbody>
      <% @blocks.each do |block| %>
        <tr>
          <td>
            <div style="display: flex; align-items: center; gap: 10px;">
           
              <strong style="color: #13505B;"><%= block.identification %></strong>
            </div>
          </td>
          <td><%= block.floors_count %></td>
          <td><%= block.apartments_per_floor %></td>
          <td>
            <div class="action-buttons-row">
              <%= link_to "Detalhes", block, class: "btn-action-pill btn-details-pill" %>
              <%= link_to "Editar", edit_block_path(block), class: "btn-action-pill btn-edit-pill" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>