<div class="container-crud">
  <div class="card-standard">
    
    <div class="login-header" style="text-align: center; margin-bottom: 40px;">
    
      <h1 class="brand-name">Novo <span class="brand-bold">Bloco</span></h1>
      <p class="login-subtitle">Preencha as informações para cadastrar uma nova torre.</p>
    </div>

    <%= form_with(model: @block, local: true) do |f| %>
      
      <div class="form-group-login">
        <%= f.label :identification, "IDENTIFICAÇÃO DO BLOCO", class: "form-label-login" %>
        <%= f.text_field :identification, class: "form-input-login", placeholder: "Ex: Bloco C, Torre Norte..." %>
      </div>

      <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        <div class="form-group-login">
          <%= f.label :floors_count, "QUANTIDADE DE ANDARES", class: "form-label-login" %>
          <%= f.number_field :floors_count, class: "form-input-login", placeholder: "0" %>
        </div>

        <div class="form-group-login">
          <%= f.label :apartments_per_floor, "APTOS POR ANDAR", class: "form-label-login" %>
          <%= f.number_field :apartments_per_floor, class: "form-input-login", placeholder: "0" %>
        </div>
      </div>

      <div class="actions-container" style="margin-top: 30px;">
        <%= f.submit "Cadastrar Bloco", class: "btn-pro-size btn-edit-pro" %>
        <%= link_to "Cancelar", blocks_path, class: "btn-pro-size btn-delete-pro" %>
      </div>

    <% end %>

  </div>
</div>