<div class="container-crud">
  <div class="card-standard">
    
    <div class="login-header" style="text-align: center; margin-bottom: 40px;">
     
      <h1 class="brand-name">Detalhes do <span class="brand-bold">Bloco</span></h1>
      <p class="login-subtitle">Informações técnicas e estrutura da torre.</p>
    </div>

    <%# Grid de Informações%>
    <div class="info-section-pro" style="margin-bottom: 40px;">
      <h3 style="font-size: 0.85rem; font-weight: 800; color: #13505B; margin-bottom: 25px; text-transform: uppercase; border-bottom: 1px solid #e2e8f0; padding-bottom: 10px;">
        Informações Técnicas
      </h3>
      
      <div style="display: grid; grid-template-columns: repeat(3, 1fr); gap: 20px;">
        <div class="info-item">
          <span class="form-label-login" style="font-size: 0.7rem;">IDENTIFICAÇÃO</span>
          <p style="font-size: 1.1rem; font-weight: 700; color: #1e293b; margin: 5px 0;"><%= @block.identification %></p>
        </div>
        <div class="info-item">
          <span class="form-label-login" style="font-size: 0.7rem;">ANDARES</span>
          <p style="font-size: 1.1rem; font-weight: 700; color: #1e293b; margin: 5px 0;"><%= @block.floors_count %></p>
        </div>
        <div class="info-item">
          <span class="form-label-login" style="font-size: 0.7rem;">APTOS POR ANDAR</span>
          <p style="font-size: 1.1rem; font-weight: 700; color: #1e293b; margin: 5px 0;"><%= @block.apartments_per_floor %></p>
        </div>
      </div>
    </div>

    <%# Botões Gêmeos e Alinhados %>
    <div class="actions-container">
      <%= link_to "Editar", edit_block_path(@block), class: "btn-pro-size btn-edit-pro" %>
      
      <%= button_to "Excluir", @block, method: :delete, 
          form: { data: { turbo_confirm: "Tem certeza que deseja apagar este bloco?" } }, 
          class: "btn-pro-size btn-delete-pro" %>
 <%= link_to "Voltar", blocks_path, class: "btn-pro-size btn-secondary", style: "background-color: transparent !important; border: none !important; width: auto !important; color: #64748b !important; text-decoration: underline !important;" %>
    </div>

  </div>
</div>