<div id="<%= dom_id ticket %>">
  <div>
    <strong>Title:</strong>
    <%= ticket.title %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= ticket.description %>
  </div>

  <div>
    <strong>User:</strong>
    <%= ticket.user_id %>
  </div>

  <div>
    <strong>Unit:</strong>
    <%= ticket.unit_id %>
  </div>

  <div>
    <strong>Ticket type:</strong>
    <%= ticket.ticket_type_id %>
  </div>

  <div>
    <strong>Status:</strong>
    <%= ticket.status_id %>
  </div>

  <div>
    <strong>Finished at:</strong>
    <%= ticket.finished_at %>
  </div>

</div>
