<div class="container-crud">
  <div class="card-standard">
    
    <div class="login-header" style="text-align: center; margin-bottom: 40px;">
    
      <h1 class="brand-name">Editar <span class="brand-bold">Unidade</span></h1>
      <p class="login-subtitle">Ajuste o número do apartamento ou o bloco correspondente.</p>
    </div>

    <%= form_with(model: @unit, local: true) do |f| %>
      
      <div class="form-group-login">
        <%= f.label :number, "NÚMERO DA UNIDADE", class: "form-label-login" %>
        <%= f.text_field :number, class: "form-input-login" %>
      </div>

      <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        <div class="form-group-login">
          <%= f.label :floor, "ANDAR", class: "form-label-login" %>
          <%= f.number_field :floor, class: "form-input-login" %>
        </div>

        <div class="form-group-login">
          <%= f.label :block_id, "BLOCO", class: "form-label-login" %>
          <%= f.collection_select :block_id, Block.all, :id, :identification, {}, class: "form-input-login" %>
        </div>
      </div>

      <div class="actions-container">
        <%= f.submit "Salvar Unidade", class: "btn-pro-size btn-edit-pro" %>
        <%= link_to "Cancelar", unit_path(@unit), class: "btn-pro-size btn-delete-pro" %>
      </div>

    <% end %>
  </div>
</div>