<div class="container-crud">
  <div class="header-section">
    <div>
      <h1 class="brand-name">Unidades <span class="brand-bold">(Apartamentos)</span></h1>
      <p class="login-subtitle">Gerencie os apartamentos, andares e moradores vinculados.</p>
    </div>
<%= link_to "+ Nova Unidade", new_unit_path, class: "btn-pro-size btn-edit-pro", style: "width: 220px !important;" %>
  </div>

  <%# BUSCA LIMPA %>
  <%= form_with url: units_path, method: :get, class: "search-row" do |f| %>
    <%= f.text_field :query, value: params[:query], placeholder: "Buscar por número ou bloco...", class: "form-input-login" %>
    <%= f.submit "Pesquisar", class: "btn-pro-size btn-edit-pro btn-search" %>
  <% end %>

  <div class="card-table">
    <table class="data-table">
     <thead>
  <tr>
    <th>ETIQUETA</th>
    <th>BLOCO</th>
    <th>ANDAR</th>
    <th>MORADOR(ES)</th>
    <th class="col-actions">AÇÕES</th> <%# SÓ AQUI %>
  </tr>
</thead>
<tbody>
  <% @units.each do |unit| %>
    <tr>
      <td><span class="unit-badge"><%= unit.number %></span></td>
      <td><%= unit.block.identification %></td>
      <td><%= unit.floor %>º andar</td>
      <td><%= unit.users.map(&:email).join(", ") %></td>
      
      <td class="col-actions"> <%# SÓ AQUI %>
        <div class="action-buttons-row">
          <%= link_to "Ver", unit, class: "btn-action-pill btn-details-pill" %>
          <%= link_to "Editar", edit_unit_path(unit), class: "btn-action-pill btn-details-pill" %>
        </div>
      </td>
    </tr>
  <% end %>
</tbody>
    </table>
  </div>
</div>