<div class="container-crud">
  <%# HEADER %>
  <div class="header-section">
    <div>
      <h1 class="brand-name">Gestão de <span class="brand-bold">Usuários</span></h1>
      <p class="login-subtitle">Controle quem acessa o sistema e seus respectivos cargos.</p>
    </div>
<%= link_to "+ Novo Usuário", new_admin_user_path, class: "btn-pro-size btn-edit-pro", style: "width: 220px !important;" %>
  </div>

  <%# TABELA DE USUÁRIOS %>
  <div class="card-table">
    <table class="data-table">
      <thead>
        <tr>
          <th class="expand">NOME</th>
          <th>E-MAIL</th>
          <th class="text-center">CARGO</th>
          <%# AJUSTE: Usamos text-center e col-actions para alinhar o título %>
          <th class="text-center col-actions">AÇÕES</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td class="expand">
              <div style="display: flex; align-items: center; gap: 10px;">
                <div style="background: #eefafa; color: #119DA4; width: 35px; height: 35px; border-radius: 50%; display: flex; align-items: center; justify-content: center; font-weight: 800; font-size: 0.8rem;">
                  <%= user.name.first.upcase %>
                </div>
                <strong style="color: #13505B;"><%= user.name %></strong>
              </div>
            </td>
            
            <td style="color: #475569;"><%= user.email %></td>
            
            <td class="text-center">
              <% 
                badge_style = case user.role.downcase
                when 'admin' then 'background: #fee2e2; color: #b91c1c;'
                when 'morador' then 'background: #dcfce7; color: #166534;'
                else 'background: #fef9c3; color: #854d0e;'
                end
              %>
              <span style="<%= badge_style %> padding: 4px 12px; border-radius: 20px; font-size: 0.7rem; font-weight: 800; text-transform: uppercase;">
                <%= user.role %>
              </span>
            </td>

            <%# AJUSTE: text-center aqui garante que a div action-buttons-row fique centralizada na célula %>
            <td class="text-center col-actions">
              <div class="action-buttons-row">
                <%= link_to "Editar", edit_admin_user_path(user), class: "btn-action-pill btn-details-pill" %>
                
                <button onclick="document.getElementById('modal-<%= user.id %>').style.display='flex'", class= "btn-action-pill btn-details-pill">
                  Excluir
                </button>
              </div>

              <%= render 'delete_modal', user: user %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>